@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Path to your layout page
    ViewBag.Title = "Booking";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Mobile Booking</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
